@model User
@{
	ViewData["Title"] = "User Profile";
}

<h1 class="display-4">My profile</h1>
<br>
<p>Username: @Model.Username</p>
<p>Password: ********</p>
<p>First name: @Model.FirstName</p>
@if (Model.LastName != null)
{
	<p>Last name: @Model.LastName</p>
}

<input type="button" style="background-color: indianred; color: white" value="Delete account" onclick="location.href='@Url.Action("AreYouSure", "User")'" />
<input type="button" style="background-color: deepskyblue; color: white" value="Log out" onclick="location.href='@Url.Action("LogOut", "User")'" />