@model DirectorsGenresDTO
@{
	ViewData["Title"] = "Create";
}

<div class="text-center">
	<h1 class="display-4">Create</h1>

	<form asp-controller="Film" asp-action="Create" method="post">
		<label>Name</label> <br>
		<input name="name" required> <br>

		<label>Price</label> <br>
		<input type="number" name="price" required> <br>

		<label>Description</label> <br>
		<input name="description" required> <br>

		<label>Year of release</label> <br>
		<input type="number" name="yearrelease" required> <br>

		<label>Director</label><br>
		<select name="directorid">
			@{				
				foreach (var item in Model.Directors)
				{
					<option value="@item.Id">@item.FirstName @item.LastName</option>
				}
			}
		</select>
		<br>
		<label>Genre</label><br>
		<select name="genreid">
			@{				
				foreach (var item in Model.Genres)
				{
					<option value="@item.Id">@item.Name</option>
				}
			}

		</select>

		<br><br>

		<button>Create</button>
	</form>
</div>