@model FilmDTO
@{
	ViewData["Title"] = "Edit film";
}

<div class="text-center">
	<h1 class="display-4">Edit film</h1>

	<form asp-controller="Film" asp-action="Edit" method="post">
		<label>Name</label> <br>
		<input name="name" value="@Model.film.Name" required> <br>

		<label>Price</label> <br>
		<input type="number" min="0" name="price" value="@Model.film.Price" required> <br>

		<label>Description</label> <br>
		<input name="description" value="@Model.film.Description" required> <br>

		<label>Year of release</label> <br>
		<input type="number" min="1880" name="yearrelease" value="@Model.film.YearRelease" required> <br>

		<label>Director</label><br>
		<select name="directorid">
			@{				
				foreach (var item in Model.Directors)
				{
					<option value="@item.Id">@item.FirstName @item.LastName</option>
				}
			}
		</select>
		<br>
		<label>Genre</label><br>
		<select name="genreid">
			@{				
				foreach (var item in Model.Genres)
				{
					<option value="@item.Id">@item.Name</option>
				}
			}

		</select>
		<input name="filmId" value="@Model.film.Id" hidden>

		<br><br>

		<button>Save changes</button>
	</form>
</div>