@model FilmDTO
@{
	ViewData["Title"] = "Edit film";
}

<div class="text-center">
	<h1 class="display-4">Edit film</h1>

	<form asp-controller="Film" asp-action="Edit" method="post">
		<label>Name</label> <br>
		<input name="name" value="@Model.film.Name" required> <br>

		<label>Price</label> <br>
		<input type="number" min="0" name="price" value="@Model.film.Price" required> <br>

		<label>Description</label> <br>
		<input name="description" value="@Model.film.Description" required> <br>

		<label>Year of release</label> <br>
		<input type="number" min="1880" name="yearrelease" value="@Model.film.YearRelease" required> <br>

		<label>Director</label><br>
		<select name="directorid">
			@{			
				<option value="@Model.film.DirectorId">@Model.film.Director.FirstName @Model.film.Director.LastName</option>
				foreach (var director in Model.Directors)
				{
					if (director.Id != Model.film.DirectorId)
					{
						<option value="@director.Id">@director.FirstName @director.LastName</option>
					}
				}
			}
		</select>
		<br>
		<label>Genre</label><br>
		<select name="genreid">
			@{		
				<option value="@Model.film.GenreId">@Model.film.Genre.Name</option>
				foreach (var genre in Model.Genres)
				{
					if (genre.Id != Model.film.GenreId)
					{
						<option value="@genre.Id">@genre.Name</option>
					}
				}
			}

		</select>
		<input name="filmId" value="@Model.film.Id" hidden>

		<br><br>

		<button>Save changes</button>
	</form>
</div>